body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2 {
  text-align: center;
}

.galeria-fotos img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.galeria-videos video {
  margin: 10px;
  border-radius: 10px;
}
